In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://in.indeed.com/")
time.sleep(2)

In [3]:
driver.maximize_window()

In [4]:
driver.find_element_by_id("text-input-what").send_keys("Data Analyst")
time.sleep(2)
driver.find_element_by_id("text-input-where").send_keys("Bangalore")
time.sleep(2)
driver.find_element_by_xpath("//button[@class='icl-Button icl-Button--primary icl-Button--md icl-WhatWhere-button']").click()

In [5]:
# creating empty list for scraped data
Job_title=[]
Company_name=[]
Location=[]
Salary=[]
Date_of_jobpost=[]

In [6]:
#scarping job title
designation=driver.find_elements_by_xpath("//a[@class='jobtitle turnstileLink ']")
for i in designation:
    if i.text is None:
        Job_title.append("--")
    else:
        Job_title.append(i.text)

Job_title

['Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Product Analyst',
 'Data Analyst/BI Developer',
 'Data Analyst',
 'Intern Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data analyst',
 'Data Analyst – Excel Operators',
 'Product Analyst, Data & Analytics',
 'Web Scraping – Data Analyst',
 'Associate - Data Analyst ( Growth)',
 'Data Analytics Internship']

In [7]:
#scraping company name
comp_name=driver.find_elements_by_xpath("//span[@class='company']")
for i in comp_name:
    if i.text is None:
        Company_name.append("--")
    else:
        Company_name.append(i.text)
Company_name

['aapkapainter.com',
 'Trane Technologies',
 'Ian Martin Group',
 'Bombinate Technologies (Koo App)',
 'Daemon software and services',
 'Sims Recycling Solutions',
 'Aimleap',
 'Honeywell',
 'TARGET',
 'Harman International',
 'Aimleap- Outsource Big Data',
 'Cisco Systems',
 'Aimleap',
 'Myntra.com',
 'Winuall']

In [8]:
#scraping location
loc=driver.find_elements_by_xpath("//*[@class='location accessible-contrast-color-location']")
for i in loc:
    if i.text is None:
        Location.append("--")
    else:
        Location.append(i.text)
Location

['Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Jayanagar, Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka',
 'Bengaluru, Karnataka']

In [9]:
#scraping salary
#sal=driver.find_elements_by_xpath("//div[@class='salarySnippet salarySnippetDemphasizeholisticSalary']/span[1]/span[1]")
#for i in sal:
    #if i.text is None:
        #Salary.append("--")
    #else:
    #Salary.append(i.text)
#Salary[0:10]

In [10]:
#scraping date of job post
doj=driver.find_elements_by_xpath("//div[@class='result-link-bar']/span[1]")
for i in doj:
    if i.text is None:
        Date_of_jobpost.append("--")
    else:
        Date_of_jobpost.append(i.text)
Date_of_jobpost

['7 days ago',
 '8 days ago',
 'Today',
 '24 days ago',
 '1 day ago',
 'Today',
 '2 days ago',
 'Today',
 'Just posted',
 'Today',
 '2 days ago',
 '1 day ago',
 '2 days ago',
 '3 days ago',
 'Today']

In [11]:
print(len(Job_title),len(Company_name),len(Location),len(Date_of_jobpost))

15 15 15 15

In [16]:
df=pd.DataFrame({"Job_title":Job_title,"Company_name":Company_name,"Location":Location,"Date_of_jobpost":Date_of_jobpost})
df

,Job_title,Company_name,Location,Date_of_jobpost
0,Data Analyst,aapkapainter.com,"Bengaluru, Karnataka",7 days ago
1,Data Analyst,Trane Technologies,"Bengaluru, Karnataka",8 days ago
2,Senior Data Analyst,Ian Martin Group,"Bengaluru, Karnataka",Today
3,Product Analyst,Bombinate Technologies (Koo App),"Jayanagar, Bengaluru, Karnataka",24 days ago
4,Data Analyst/BI Developer,Daemon software and services,"Bengaluru, Karnataka",1 day ago
5,Data Analyst,Sims Recycling Solutions,"Bengaluru, Karnataka",Today
6,Intern Data Analyst,Aimleap,"Bengaluru, Karnataka",2 days ago
7,Data Analyst,Honeywell,"Bengaluru, Karnataka",Today
8,Data Analyst,TARGET,"Bengaluru, Karnataka",Just posted
9,Data analyst,Harman International,"Bengaluru, Karnataka",Today
10,Data Analyst – Excel Operators,Aimleap- Outsource Big Data,"Bengaluru, Karnataka",2 days ago
11,"Product Analyst, Data & Analytics",Cisco Systems,"Bengaluru, Karnataka",1 day ago
12,Web Scraping – Data Analyst,Aimleap,"Bengaluru, Karnataka",2 days ago
13,Associate - Data Analyst ( Growth),Myntra.com,"Bengaluru, Karnataka",3 days ago
14,Data Analytics Internship,Winuall,"Bengaluru, Karnataka",Today

In [20]:
df.to_csv('df.csv')